// Styles: Globals
/*----------------------------------------------------------------------------------------------------*/

/*---------- Tailwind ----------*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------- Base ----------*/

// ...

/*---------- Sections ----------*/

// ...

/*---------- Singles ----------*/

.embla__slide {
	flex: 0 0 100%;
	min-width: 0;
}

.firebase-emulator-warning {
	display: none;
}

/*---------- Utility ----------*/

// ...
